@font-face {
    font-family: vzr;
    src: url('Vazir.woff');
}
@font-face {
    font-family: mvzr;
    src: url('Vazir-Code.woff');
}
*{
    padding: 0px;
    margin: 0px;
}
html{
    overflow-y: hidden;
    overflow-x: hidden;
}
body{
    font-family: vzr;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #212121;
}
ujo{
    direction: rtl;
}
input[type="text"], input[type="password"], input[type="number"]{
    display: block;
    direction: ltr;
    padding-left: 5px;
    margin-right: 10vw;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    border-color: #212121;
    height: calc(8vh + 3vw);
    width: 70vw;
    font-size: calc(8vh + 2vw);
    background-color: #424242;
    color: #fff;
}
label{
    padding-right: 3vw;
    font-size: calc(3vh + 2vw);
}
.formgrupo{
    margin-top: 3vh;
}
#ensalutu{
    background-color: #424242;
    color: #fff;
    text-align: center;
    margin-top: 6vh;
    margin-bottom: 3vh;
    font-size: calc(4vh + 4vw);
    padding: 10px 0px;
    box-shadow: inset 0 14px 28px rgba(0,0,0,0.25), inset 0 10px 10px rgba(0,0,0,0.22);
}
form{
    background-color: #bdbdbd;
    padding-top: calc(10vh - 6vw);
    height: 100%;
}
a{
    text-decoration: none;
    padding-right: 3vw;
    font-size: calc(2.7vh + 1.8vw);
    color: #212121;
}
#fermu{
    background-color: #212121;
    color: #fff;
    font-size: calc(3vh + 3vw);
    font-family: vzr;
    text-align: center;
}
#menuu{
    background-color: #43A047;
    color: #fff;
    border-radius: 5px;
    padding: 0.2vh 8vw !important;
    margin-left: 1vw;
    background-image: url('menuo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
iframe{
    width: 100vw;
    border: none;
    height: 30vh;
}
#statistiko{
    direction: rtl;
    font-size: 6vw;
    padding-right: 3vw;
}
#statistiko > table{
    width: 100%;
}